.splide {
  max-width: 100% !important;
}

.splide-track-container {
  /* border: 2px solid red; */
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.splide__slide {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide-image {
  /* border: 2px solid red; */
  object-fit: contain;
  max-height: 80%;
  /* box-shadow: 0px 0px 10px #00000029; */
  max-width: 98%;
cursor: pointer;
border-radius: 15px;
border: .1px solid #fff;
}

.splide__arrow--prev {
  left: -3rem !important;
  background: none !important;
  font-size: large !important;
}

.splide__arrow--next {
  right: -3rem !important;
  font-size: large !important;
  background: none !important;
}

.splide__pagination {
  bottom: -0.5rem !important;
  margin-bottom: -50px !important;
}

.splide__pagination__page {
  background-color: #fff !important;
  margin-right: 15px !important;
}
.splide__pagination__page.is-active {
  background-color: var(--primary-blue) !important;
  opacity: 0.9 !important;
}

@media only screen and (max-width: 768px) {
  .splide {
    max-width: 95% !important;
  }

  .splide__arrow--prev {
    left: 0rem !important;
    background: none !important;
    font-size: small !important;
  }

  .splide__arrow--next {
    right: 0rem !important;
    background: none !important;
    font-size: small !important;
  }

  .splide__arrow {
    /* No Select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -25px;
    margin-right: -25px;
  }

  .splide__pagination {
    position: unset !important;
    margin-top: 30px !important;
    padding-bottom: 20px !important;
  }

  .splide__pagination__page {
    margin-right: 9px !important;
    font-size: small !important;
  }

  .splide-track-container {
    margin-top: 35px;
  }

  .splide__track {
    margin-bottom: 10px;
  }
}
